* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/happy-new-year.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #827d7d;
}

h1 {
  font-size: 40px;
}

#countdown-container {
  display: flex;
}

#countdown-container div {
  margin: 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countdown-container p {
  font-size: 50px;
  font-weight: 700;
}

#countdown-container span {
  font-size: 30px;
}
